*{
    box-sizing: border-box;
}

body{
    
    margin:0 auto;
    font-family:"Inter";
    width: 548px;
    
}

h1,h2,h3,h4,h5,h6, p{
    margin:0;
}

ul{
    list-style: none;
}

.btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;

}

.btn:hover {
    transform: translate(1px, 1px);
}


/* header styles */

header{
    background-color: #FFF7ED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
}

header h1{
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
    color:#000000;
    margin-right: 235px;
}

header ul{
    display: flex;
    gap:12px;
}

header li{
    color:#4D4D4D;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}


/* footer styles */

footer p{
    color:#AAAAAA;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    background-color: #252525;
    height: 74px;
    text-align: center;
    align-content:  center;
}

/* Home page main */

.homePage-main {
    padding: 65px 26px;
    background-image: url("images/HomePageImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    border:none;
    background-color: rgba(0, 0, 0, 0.46);
    color:#FFFFFF;
}

.homePage-main h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 22px;
}

.homePage-main p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 51px;
}

/* About page main */

.aboutPage-main .abtImg{
    width: 548px;
    height: 233px;
    object-fit: cover;
    
}

.aboutPage-content{
    padding: 48px 26px 53px;
    background-color: rgba(255, 247, 237, 1);
    color: #161616;
}

.aboutPage-content h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 31px;
}

.aboutPage-content p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 55px;
}

.aboutPage-content article{
    background-color: #FFCC8D;
    border-radius: 5px;
    padding: 32px 37px;
}

.aboutPage-content article h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
}

.aboutPage-content article .link-button{
    background-color: #161616;
    color:#FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 13px 22px;
}