:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

body {
  margin: 20px 40px;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

/* movie card */

.movie__card{
  display:flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  width: 270px;
  height: 350px;
  border:1px #d8cfbc solid;
  border-radius: 10px;
  padding: 15px 0px;
  position: relative;
}

.movie__delete{
  position: absolute;
  content: url("src/assets/delete.svg");
  width: 20px;
  height: 20px;
  top:17px;
  left: 20px;
}

.movie__likeIcon,
.movie__likeIcon--active{
  position: absolute;
  content: url("src/assets/Like.svg");
  width: 20px;
  height: 20px;
  top:17px;
  right: 20px;

}

.movie__likeIcon--active{
  content:url("src/assets/likeFilled.svg")
}

.movie__image{
  width: 160px;
  height: 230px;
  border-radius: 10px;
}

.movie__title{
  flex-grow: 1; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  font-size: 16px;
  color:#d8cfbc;
  line-height: 20px;
  width: 100%; 
  box-sizing: border-box; 
}

.movie__genre, .movie__year{
  display: flex;
  gap:10px

}


.movie__genre{
  margin-bottom: 3px;
}

.movie__info{
  margin-top: auto;
    
}

.main{
  background-color: #d8cfbc;
  color: #242424;
  padding: 1px 5px;
  border-radius: 10px;
}

.cards-wrapper{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px
}

.link, a{
  text-decoration: none;
  color:inherit;
  /* display: contents; */
}

/* movie page */

.movie__page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  justify-content: center;
 
}

.movie__pageBlock {
  display: flex;
  max-width: 900px; 
  min-width: 700px; 
  border: 1px #d8cfbc solid;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  gap: 30px; 
  align-items: center; 
}

.movie__pageImage {
  width: 300px; 
  min-width: 250px;
  height: 400px; 
  object-fit: cover; 
  border-radius: 10px;
  flex-shrink: 0; 
}

.movie__page  span{
  color:#d8cfbc;
}



.movie__pageTitle{
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 10px;
}

.movie__pageActors--list{
  display: inline;
  margin-right: 5px;
}

.movie__pageActors--list:not(:last-child)::after {
  content: ","; 

}


button{
  background-color:transparent;
  border:1px #d8cfbc solid;
  color: #d8cfbc;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size:16px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
}

.movie__pageBackBtn{
  display: block;
  padding: 10px 20px;
  
  border-radius: 10px;
  border:none;
  text-decoration: none;
  cursor:pointer;
  background-color: #d8cfbc !important;
  color: #242424 !important;
 
}

.filters{
  display: flex;
  gap:20px;
  margin-bottom: 30px;
}

/* выделение нажатой кнопки фильтрации */
.filters > button.active{
  background-color:#d8cfbc;
  color: #242424;
}

.header__buttons{
  display: flex;
  justify-content: space-between;
}

.createMoviePage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__createCard{
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 500px;
  margin-top: 50px;
  padding: 20px 32px;
  border:1px #d8cfbc solid;
  border-radius: 10px;
}

form > input, select{
  margin-bottom: 20px;
  background-color: #d8cfbc;
  padding: 10px 20px;
  border-radius: 5px;
  border:none;
}

form > label{
  margin-bottom: 5px;
}



.createMovie__title{
  color: #d8cfbc;
  margin-top: 40px;
  text-align: center;
}



